//--------------------------------------------------------------------
// Animation Mixins
//--------------------------------------------------------------------

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

/*------------------------------------------------------------------
 * Animation
 *----------------------------------------------------------------*/
 
@include keyframes(fade-in) {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@include keyframes(grow-in) {
    0% {
        opacity: 0;
        @include transform(scale(0.9));
    }

    100% {
        opacity: 1;
        @include transform(scale(1));
    }
}

@include keyframes(pop-in) {
    0% {
        opacity: 0;
        @include transform(scale(0.9));
    }

    100% {
        opacity: 1;
        @include transform(scale(1));
    }
}

@include keyframes(slide-up) {
    0% {
        @include transform(translateY(0.7em));
        opacity: 0;
    }

    100% {
        // @include transform(translateY(0em));
        opacity: 1;
    }
}

@include keyframes(slide-down) {
    0% {
        @include transform(translateY(-0.7em));
        opacity: 0;
    }

    100% {
        // @include transform(translateY(0em));
        opacity: 1;
    }
}

@include keyframes(slide-right) {
    0% {
        @include transform(translateX(-0.7em));
        opacity: 0;
    }

    100% {
        // @include transform(translateY(0em));
        opacity: 1;
    }
}

.fade-in {
    @include animation(fade-in 0.8s ease-out forwards);
    opacity: 0;
}

.pop-in {
    @include animation(pop-in 0.8s ease-out forwards);
    opacity: 0;
}

.slide-up {
    @include animation(slide-up 0.8s ease-out forwards);
    opacity: 0;
}

.slide-right {
    @include animation(slide-right 0.8s ease-out forwards);
    opacity: 0;
}

.slide-down {
    @include animation(slide-down 0.8s ease-out forwards);
    opacity: 0;
}

/*
==============================================
fade-in
==============================================
*/


.fade-in{
    animation-name: fade-in;
    -webkit-animation-name: fade-in; 
    visibility: visible !important; 
}


.js-animated {
    visibility: hidden;
}
/*------------------------------------------------------------------
 * Animation Delays
 *----------------------------------------------------------------*/

@for $i from 1 to 24 {
    .delay-#{$i}s {
        -webkit-animation-delay: #{$i}s; /* Safari and Chrome */
        animation-delay: #{$i}s;
    }
}

@for $i from 1 to 27 {
    .delay-#{$i}00ms {
        -webkit-animation-delay: $i * 100ms; /* Safari and Chrome */
        animation-delay: $i * 100ms;
    }
}
