 /* post type page */
.post-type-page .wp-list-table td div.row-actions .inline { display:none; }
.post-type-page .wrap h2 .add-new-h2 { display:none; }
.post-type-page .tablenav.bottom, .post-type-page .wp-list-table tfoot {display:none; }
.post-type-page .tablenav.top .alignleft { display:none; }
.post-type-page .wp-list-table td { vertical-align: middle; }
.post-type-page .wp-list-table td.edit.column-edit { text-align:right; }
.post-type-page .subsubsub { margin:0; }
.post-type-page .subsubsub li { margin-bottom:10px; font-size:14px; margin-right:5px; }
#wp-custom-content-wrap {margin-bottom:20px;}
.post-type-page .form-table td { padding:0; margin:0; }

#toplevel_page_all-pages .wp-first-item { display:none; }
/*#toplevel_page_all-pages ul.wp-submenu { max-height:200px; overflow: auto;  }*/
#toplevel_page_all-pages ul.wp-submenu a {
    font-size: 11px;
    line-height: 18px;
    padding: 0px 12px !important;
    text-overflow: ellipsis;
    width: 135px;
    white-space: nowrap;
    overflow: hidden;
}

.fright { float:right; }
.fleft { float:left; }
.hidden { display:none; }
.hidden-overflow { overflow: hidden; }

.button-tertiary {
    background: rgb(255, 87, 87) !important;
    color: #fff !important;
    font-weight: bold !important;
    border-color: rgb(158, 0, 0) !important;
    -webkit-box-shadow: inset 0 1px 0 rgb(255, 116, 116),0 1px 0 rgba(158,0,0,.08) !important;
    box-shadow: inset 0 1px 0 rgb(255, 116, 116),0 1px 0 rgba(158,0,0,.08) !important;
}

.upload-wrapper { position: relative; width:200px; padding:0; margin:0; }
.upload-wrapper img { position:relative; width:200px; border:solid 1px #000; }

#titlediv { margin-bottom: 20px;}

/*.wp-list-table .level-1 a.row-title:before{
    content:" - ";
}
.wp-list-table .level-2 a.row-title:before{
    content:" - - ";
}
.wp-list-table .level-3 a.row-title:before{
    content:" - - - ";
}
.wp-list-table .level-4 a.row-title:before{
    content:" - - - - ";
}
.wp-list-table .level-5 a.row-title:before{
    content:" - - - - - ";
}
.wp-list-table .level-6 a.row-title:before{
    content:" - - - - - - ";
}*/