.postbox h3 { cursor: default !important; }
.postbox h3 .description, .postbox h4 .description { font-weight:normal; font-size: 12px; cursor: pointer; text-decoration: underline; margin:0 5px; }
.postbox .inside h4 { margin:0 0 10px 0;}
.postbox .inside p { margin-top:0; margin-bottom:1em; }
.postbox .inside label { min-width: 50px; display: block;}
.postbox .inside input[type=text],
.postbox .inside textarea { width: 97%;}
.postbox .inside .upload, .postbox .inside .btn-upload, .postbox .inside input[type=button], .postbox .inside input[type=submit]{ width:auto; }
.postbox .inside .upload { width:70% !important; }
/*.wp-editor-tabs { display:none; }*/
/*.item { padding:10px; background:#fafafa; border:solid 1px #cecece; margin:10px 0; overflow:hidden;}*/
.sortable-placeholder { border:dashed 4px #cecece; }
label.for { display: inline-block !important; min-width:30px !important;}
.color-box { display: block; width: 15px; height: 15px; box-shadow: 1px 1px 3px #cecece; }
.sortable-item { text-indent: 25px; background:url('../../imgs/move.png') no-repeat;}

.section-helper-wrapper { margin: 20px 0; padding: 10px; border-left: 3px solid #eee; background-color: #f4f8fa; border-color: #5bc0de; }
.section-helper-wrapper .description { display:block; padding-bottom: 10px; }
.section-helper-wrapper img { width:500px; margin:0 auto; display:block; }

.upload-wrapper { position: relative; width:200px; padding:0; margin:0 20px 0 0; }
.upload-wrapper img { position:relative; width:200px; border:none; background: #cecece; }
.upload-wrapper input[type=button] { position:absolute; top:5px; left:5px; }
.upload-wrapper input.btn-upload-remove { display:none; right:5px; left:auto; margin-left:5px; }
.upload-wrapper.has-image input.btn-upload-remove { display:block; }
.page_url, .custom_url, .overlay_url { margin-top:5px; }

a.top {
position: relative;
top:-40px;
display: block;
height: 0;
width:0;
}
