/*--------------------------------------------------------------------
 * User Documentatation - PM Damian Cowell
 *------------------------------------------------------------------*/

body.user-docs {
    overflow: hidden;
}

.user-docs iframe {
    height: 100%;
    width: 100%;
}